@import "../../styles/variables.scss";

.outer-wrapper {
  padding-top: $vertical-rhythm * 4;
  padding-bottom: $vertical-rhythm;
  h4 {
    margin-bottom: $vertical-rhythm;
  }
  p {
    margin-bottom: $vertical-rhythm * 2;
  }
}

.title {
  text-align: center;
  // margin-bottom: $vertical-rhythm;
}
