@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Sans&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

/* SCSS Variables */
$base-line-height: 1.6;
$base-font-size: 1.1rem;
$vertical-rhythm: $base-line-height * $base-font-size;

$header-color: #363636;
$body-color: #3f3f3f;
$button-color: #00adff;

$header-font: "Montserrat", sans-serif;
$body-font: "Ubuntu", sans-serif;
