@import "../../styles/variables.scss";

.outer-wrapper {
  //background-image: none;
  //background-size: cover;
  //background-position: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $vertical-rhythm;
  background: linear-gradient(120deg, #262992 0%, #372a94 60%, #0b1375 100%);
  // background: radial-gradient(
  //   circle,
  //   rgba(38, 42, 146, 1) 0%,
  //   rgba(54, 42, 148, 1) 40%,
  //   rgba(11, 20, 117, 1) 100%
  // );
  // &:before {
  //   content: ""; // ::before and ::after both require content
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   // background: url("../../images/round-gold-colored-bitcoin.jpg") no-repeat;
  //   //background: url("../../../static/SVG/background-intro.svg") no-repeat;
  //   background: url("../../../static/SVG/Lag8.svg") no-repeat;
  //   opacity: 0;
  //   background-size: cover;
  //   //background-attachment: fixed;
  // }
}

.inner-wrapper {
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
  // padding-bottom: $vertical-rhythm * 2;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: bolder;
  //color: #00bfff;
  color: #009de0;
  color: rgba(255, 255, 255, 0.95);
}

.subTitle {
  font-size: 1.6rem;
  margin-bottom: 10px;
  // color: #266980;
  $button-color: rgba(44, 188, 255, 0.89);
  font-family: $body-font;
  color: $button-color;
  color: rgba(77, 198, 255, 0.9);
}

.text {
  font-size: 1.25rem;
  margin-bottom: 0;
  color: #666666;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  color: rgba(21, 181, 255, 0.9);
}

.leftColumn {
  @media (max-width: 767px) {
    order: 2;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightColumn {
  @media (max-width: 767px) {
    text-align: center;
    order: 1;
    img {
      margin-bottom: 0;
    }
    margin-top: 2rem;
    margin-bottom: 0;
  }
  text-align: right;
  //align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.95;
  img {
    // opacity: 0.3;
  }
}

.hr {
  width: 42%;
  margin-top: 0;
  margin-bottom: $vertical-rhythm;
  // border-width: 2px;
  // height: 2px;
  // border-color: #ff1955;
  background-color: #ff1955;
  color: #ff1955;
  background-color: rgba(255, 255, 255, 0.856);
  color: rgba(255, 255, 255, 0.856);
  height: 2px;
  border: none;

  @media (max-width: 1199px) {
    width: 50%;
  }

  @media (max-width: 991px) {
    width: 60%;
  }
  @media (max-width: 767px) {
    width: 55%;
  }
  @media (max-width: 575px) {
    width: 62%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

/* Responsive styles */
@media screen and (max-width: 991px) {
  .title {
    font-size: 3.3rem;
  }
  .subTitle {
    font-size: 1.6rem;
  }
  .text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  // .inner-wrapper {
  //   padding-top: $vertical-rhythm;
  // }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
  .subTitle {
    font-size: 1.3rem;
  }
  .text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 341px) {
  .title {
    font-size: 1.8rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 265px) {
  .title {
    font-size: 1.6rem;
  }
  .subTitle {
    font-size: 1.1rem;
  }
}
